<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


<!--
  * - css의 경우 body 하단에 놓으면 레이아웃 또는 요소가 깨져보일 수 있으므로 head에 삽입했다.
-->
